{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dr Kiran &mdash; Dr Sapana Dental Clinic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'website/https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900' %}">
    <link rel="stylesheet" href="{% static 'website/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/Custom/Custom.css' %}">



    <link rel="stylesheet" href="{% static 'website/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'website/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <!-- .site-mobile-menu -->


        <div class="site-navbar-wrap">
            <div class="site-navbar-top">
                <div class="container py-2">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <a href="https://twitter.com/KiranMa41397456" class="p-2 pl-0"><span class="icon-twitter"></span></a>
                            <a href="https://www.facebook.com/Kiranmaharjanofficial" class="p-2 pl-0"><span class="icon-facebook"></span></a>
                            <a href="https://www.youtube.com/channel/UCHBRsBNe0ci-7e71Aw9ncJQ?view_as=subscriber" class="p-2 pl-0"><span class="icon-youtube"></span></a>
                            <a href="https://www.instagram.com/kiranmhrjn/" class="p-2 pl-0"><span class="icon-instagram"></span></a>
                        </div>
                        <div class="col-6">
                            <div class="d-flex ml-auto">

                                <a href="#" class="{% static 'website/d-flex align-items ml-auto mr-4' %}">
                                    <span class="icon-envelope mr-1"></span>
                                    <span class="d-none d-md-inline-block">kiranmaharjan1989@gmail.com</span>
                                </a> -

                                <a href="#" class="{% static 'website/d-flex align-items ml-auto mr-4' %}">
                                    <span class="icon-phone mr-1"></span>
                                    <span class="d-none d-md-inline-block">+977 980 235 874 72</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-navbar ">
                <div class="container py-1 ">
                    <div class="row align-items-center ">
                        <div class="col-2 ">
                            <h2 class="{% static 'website/mb-0 site-logo' %} "><a href="index.html ">Dr Kiran and Dr Sapana</a></h2>
                        </div>
                        <div class="col-10 ">
                            <nav class="site-navigation text-right " role="navigation ">
                                <div class="container ">
                                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3 "><a href="#" class="{% static 'website/site/-menu-toggle js-menu-toggle text-white' %}"><span class="{% static 'website/icon-menu h3' %}"></span></a></div>

                                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                                        <li>
                                            <a href="/">Home</a>
                                            
                                        </li>
                                        <li><a href="about">About Us</a></li>
                                        <li>
                                            <a href="patients ">Patients</a>
                                            
                                        </li>
                                        <li><a href="news">News</a></li>
                                        <li><a href="services">Services</a></li>
                                        <li><a href="contact">Contact</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-blocks-cover " style="background-image: url({% static 'website/images/bg.3.jpg' %}); " data-aos="fade " data-stellar-background-ratio="0.5 ">
            <div class="container ">
                <div class="row align-items-center ">
                    <div class="col-md-7 ">
                        <span class="sub-text ">We Priority Your</span>
                        <h1>Your <strong>New Smile</strong></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-block-1 ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-4 ">
                        <div class="site-block-feature d-flex p-4 rounded mb-4 ">
                            <div class="mr-3 ">
                                <span class="icon flaticon-tooth font-weight-light text-white h2 "></span>
                            </div>
                            <div class="text ">
                                <h3>Periontodology</h3>
                                <p>Periodontology or periodontics is the specialty of dentistry that studies supporting structures of teeth, as well as diseases and conditions that affect them.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="site-block-feature d-flex p-4 rounded mb-4 ">
                            <div class="mr-3 ">
                                <span class="icon flaticon-tooth-whitening font-weight-light text-white h2 "></span>
                            </div>
                            <div class="text ">
                                <h3>Tooth Whitening</h3>
                                <p>Tooth Polisher for Tooth Whitening, Teeth whitening equipment, Tooth Polisher for Tooth Whitening, Spotlight Oral Care Teeth Whitening Strips..</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="site-block-feature d-flex p-4 rounded mb-4 ">
                            <div class="mr-3 ">
                                <span class="icon flaticon-tooth-pliers font-weight-light text-white h2 "></span>
                            </div>
                            <div class="text ">
                                <h3>Preventative Care</h3>
                                <p>The ACA and Preventive Care — Preventative care is health care that prevents disease, injury, or illness, rather than treating a condition that has ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section site-block-3 ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-6 mb-5 mb-lg-0 ">
                        <img src="{% static 'website/images/bg.5.jpg' %} " alt="Image " class="img-fluid ">
                    </div>
                    <div class="col-lg-6 ">
                        <div class="row row-items ">
                            <div class="col-md-6 ">
                                <a href="# " class="d-flex text-center feature active p-4 mb-4 ">
                                    <span class="align-self-center w-100 ">
                    <span class="d-block mb-3 ">
                      <span class="flaticon-tooth-whitening display-3 "></span>
                                    </span>
                                    <h3>Tooth Whitening</h3>
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-6 ">
                                <a href="# " class="d-flex text-center feature p-4 mb-4 ">
                                    <span class="align-self-center w-100 ">
                    <span class="d-block mb-3 ">
                      <span class="flaticon-stethoscope display-3 "></span>
                                    </span>
                                    <h3>Stethescope</h3>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="row row-items last ">
                            <div class="col-md-6 ">
                                <a href="# " class="d-flex text-center feature p-4 mb-4 ">
                                    <span class="align-self-center w-100 ">
                    <span class="d-block mb-3 ">
                      <span class="flaticon-first-aid-kit display-3"></span>
                                    </span>
                                    <h3>First Aid Kit</h3>
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-6 ">
                                <a href="# " class="d-flex text-center active feature p-4 mb-4 ">
                                    <span class="align-self-center w-100 ">
                    <span class="d-block mb-3 ">
                      <span class="flaticon-tooth-pliers display-3 "></span>
                                    </span>
                                    <h3>Tooth Pliers</h3>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="site-section site-block-appointment ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-6 mb-5 pl-lg-5 order-1 order-lg-2 ">
                        <div class="pl-lg-5 ml-lg-5 ">
                            <h2 class="site-heading text-black ">Online <strong>Appointment</strong> Request Form</h2>
                            <p class="lead text-black ">Now getting an OPD appointment, lab reports and blood availability in any ... All future online appointments through email. </p>
                            <p class="text-black-opacity-5 ">Don't hesitate to email or contact us through email or phone call.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 order-2 order-lg-1 ">


                        <form action="#" class="p-5 bg-white">
                    

                            <div class="row form-group ">
                                <div class="col-md-6 mb-3 mb-md-0 ">
                                    <label class="font-weight-bold " for="fname ">First Name</label>
                                    <input type="text " id="fname " class="form-control " placeholder="First Name ">
                                </div>
                                <div class="col-md-6 ">
                                    <label class="font-weight-bold " for="lname ">Last Name</label>
                                    <input type="text " id="lname " class="form-control " placeholder="Last Name ">
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-md-6 mb-3 mb-md-0 ">
                                    <label class="font-weight-bold " for="date ">Date</label>
                                    <input type="text " id="date " class="form-control datepicker px-2 " placeholder="Date of visit">
                                </div>
                                <div class="col-md-6 ">
                                    <label class="font-weight-bold " for="email ">Email</label>
                                    <input type="email " id="email " class="form-control " placeholder="Email">
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-md-12 ">
                                    <label class="font-weight-bold " for="treatment">Treatment Needed</label>
                                    <select name="treatment " id="treatment " class="form-control ">
                    <option value=" ">Dental exam and teeth cleaning</option>
                    <option value=" ">Dental emergency</option>
                    <option value=" ">Dental implants</option>
                  </select>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-md-12 ">
                                    <label class="font-weight-bold " for="note">Notes</label>
                                    <textarea name="note " id="note " cols="30 " rows="5 " class="form-control " placeholder="Write your notes or questions here... "></textarea>
                                </div>
                            </div>

                            <div class="row form-group ">
                                <div class="col-md-12 ">
                                    <input type="submit" class="btn btn-primary" value="Send">
                                </div>
                            </div>


                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="promo py-5 bg-primary ">
            <div class="container text-center ">
                <span class="d-block h4 mb-3 font-weight-light text-white ">Promo For Tooth Cleaning from <del>$140.00</del> now <strong class="font-weight-bold ">$50.00</strong></span>
                <div id="date-countdown " class="mt-0 "></div>
            </div>
        </div>


        <div class="site-section bg-light ">
            <div class="container ">
                <div class="row mb-5 justify-content-center ">
                    <div class="col-md-6 text-center ">
                        <h2 class="site-heading text-black mb-5 ">Our <strong>Services</strong></h2>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6 col-lg-4 ">
                        <div class="site-block-feature-2 d-flex rounded mb-5 ">
                            <div class="mr-3 ">
                                <span class="icon flaticon-tooth-whitening font-weight-light "></span>
                            </div>
                            <div class="text ">
                                <h3>Tooth Whitening</h3>
                                <p>In 2015, Americans spent over $11 billion on teeth whitening, including over $1.4 billion on at-home whitening products (1). There are plenty of products to choose from when it comes to whitening your teeth. However, most
                                    whitening products use chemicals to bleach your teeth, which concerns many people. If you want whiter teeth but also want to avoid the chemicals, this article lists many options that are both natural and safe.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 ">
                        <div class="site-block-feature-2 d-flex rounded mb-5 ">
                            <div class="mr-3 ">
                                <span class="icon flaticon-stethoscope font-weight-light "></span>
                            </div>
                            <div class="text ">
                                <h3>Stethoscope</h3>
                                <p>The stethoscope is an acoustic medical device for auscultation, or listening to internal sounds of an animal or human body. It typically has a small disc-shaped resonator that is placed against the skin, and one or two
                                    tubes connected to two earpieces.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 ">
                        <div class="site-block-feature-2 d-flex rounded mb-5 ">
                            <div class="mr-3 ">
                                <span class="icon flaticon-dentist-chair font-weight-light "></span>
                            </div>
                            <div class="text ">
                                <h3>Dentist Chair</h3>
                                <p>STANDARD EQUIPMENT 90 degree Rotable integrated ceramic spittoon 1set Auto spittoon flush and cup filler control system.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 ">
                        <div class="site-block-feature-2 d-flex rounded mb-5 ">
                            <div class="mr-3 ">
                                <span class="icon flaticon-tooth-pliers font-weight-light "></span>
                            </div>
                            <div class="text ">
                                <h3>Tooth Pliers</h3>
                                <p>Surgical Orthodontic Bracket Removing Pliers Stainless Steel Dental Braces Removal Tools Bracket Gripper Plier.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 ">
                        <div class="site-block-feature-2 d-flex rounded mb-5 ">
                            <div class="mr-3 ">
                                <span class="icon flaticon-first-aid-kit font-weight-light "></span>
                            </div>
                            <div class="text ">
                                <h3>First Aid Kit</h3>
                                <p>a small box containing items such as bandages, plasters, and antiseptic wipes for use in giving help to a sick or injured person until full medical treatment is available.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 ">
                        <div class="site-block-feature-2 d-flex rounded mb-5 ">
                            <div class="mr-3 ">
                                <span class="icon flaticon-dentist-tools font-weight-light "></span>
                            </div>
                            <div class="text ">
                                <h3>Dentist Tools</h3>
                                <p>Mouth mirror. This will almost certainly be used during your visit. ... Dental probe. There are a number of different types of probe. ... Anaesthetic. ... Dental syringe. ... Dental drill. ... Spoon excavator. ... Burnisher.
                                    ... Scaler.
                                </p>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

        <div class="site-block-half d-block d-lg-flex site-block-video">
            <div class="image bg-image order-2" style="background-image: url({% static 'website/images/bg.6.jpg' %}); ">
                <a href="https://youtu.be/8TDXCPP6JiA" class="play-button youtube"><span class="icon-play"></span></a>
            </div>
            <div class="text order-1 ">
                <h2 class="site-heading text-black mb-3 ">Success <strong>Stories</strong></h2>
                <p class="lead ">I am very pleased and highly satisfied with the quality of the services and the treatments they provided me at the clinic. I had a few root canal done with no pain thanks to the doctor and I have new crowns properly settled. Every treatment
                    and procedure was clearly explained to me and the staff is really friendly. I can't recommend a better clinic. Thanks again!</p>
                <p>Thank you Dr. Maharjan.</p>
            </div>

        </div>


        <div class="site-section bg-light ">
            <div class="container ">
                <div class="row mb-5 justify-content-center ">
                    <div class="col-md-6 text-center ">
                        <h2 class="site-heading text-black ">People <strong>Says</strong></h2>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-4 ">
                        <div class="site-block-testimony p-4 text-center ">
                            <div class="mb-3 ">
                                <img src="{% static 'website/images/img.9.jpg' %} " alt="Image " class="img-fluid ">
                            </div>
                            <div>
                                <p>I am very pleased and highly satisfied with the quality of the services and the treatments they provided me at the clinic. I had a few root canal done with no pain thanks to the doctor and I have new crowns properly settled.
                                    Every treatment and procedure was clearly explained to me and the staff is really friendly. I can't recommend a better clinic. Thanks again!

                                </p>
                                <p><strong class="font-weight-bold ">Sapana Maharjan</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="site-block-testimony p-4 text-center active ">
                            <div class="mb-3 ">
                                <img src="{% static 'website/images/img.11.jpg' %} " alt="Image " class="img-fluid ">
                            </div>
                            <div>
                                <p>I am very pleased and highly satisfied with the quality of the services and the treatments they provided me at the clinic. I had a few root canal done with no pain thanks to the doctor and I have new crowns properly settled.
                                    Every treatment and procedure was clearly explained to me and the staff is really friendly. I can't recommend a better clinic. Thanks again!

                                </p>
                                <p><strong class="font-weight-bold ">Kiran Maharjan</strong></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="site-block-testimony p-4 text-center ">
                            <div class="mb-3 ">
                                <img src="{% static 'website/images/img.10.jpg' %} " alt="Image " class="img-fluid ">
                            </div>
                            <div>
                                <p>Dr. Maharjan, I feel, as fairly professional dentist. The service literally perfect with skilled hand. If a person who has a phobia of dentists, he/she can feel quite at ease by Dr. Maharjan. Very welcoming staff.</p>
                                <p><strong class="font-weight-bold ">Ruby Maharjan</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>







        <footer class="site-footer border-top ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-4 mb-5 mb-lg-0 ">
                        <div class="row mb-5 ">
                            <div class="col-md-12 ">
                                <h3 class="footer-heading mb-4 ">Navigation</h3>
                            </div>
                            <div class="col-md-6 col-lg-6 ">
                                <ul class="list-unstyled ">
                                    <li><a href="# ">Home</a></li>
                                    <li><a href="# ">Services</a></li>
                                    <li><a href="# ">News</a></li>
                                    <li><a href="# ">Team</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-6 ">
                                <ul class="list-unstyled ">
                                    <li><a href="# ">About Us</a></li>
                                    <li><a href="# ">Privacy Policy</a></li>
                                    <li><a href="# ">Contact Us</a></li>
                                    <li><a href="# ">Membership</a></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-4 ">


                        <div class="mb-5 ">
                            <h3 class="footer-heading mb-4 ">Recent News</h3>
                            <div class="block-25 ">
                                <ul class="list-unstyled ">
                                    <li class="mb-3 ">
                                        <a href="# " class="d-flex ">
                                            <figure class="image mr-4 ">
                                                <img src="{% static 'website/images/bg.2.jpg' %} " alt=" " class="img-fluid ">
                                            </figure>
                                            <div class="text ">
                                                <span class="small text-uppercase date ">July 1, 2021</span>
                                                <h3 class="heading font-weight-light ">Information on a broad range of dental health topics</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mb-3 ">
                                        <a href="# " class="d-flex ">
                                            <figure class="image mr-4 ">
                                                <img src="{% static 'website/images/img.6.jpg' %} " alt=" " class="img-fluid ">
                                            </figure>
                                            <div class="text ">
                                                <span class="small text-uppercase date ">July 1, 2021</span>
                                                <h3 class="heading font-weight-light ">Latest research on periodontal diseases.</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mb-3 ">
                                        <a href="# " class="d-flex ">
                                            <figure class="image mr-4 ">
                                                <img src="{% static 'website/images/bg.1.jpg' %} " alt=" " class="img-fluid ">
                                            </figure>
                                            <div class="text ">
                                                <span class="small text-uppercase date ">July 1, 2021</span>
                                                <h3 class="heading font-weight-light ">including dental implants, cosmetic dentistry, and general dental ...</h3>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>


                    <div class="col-lg-4 mb-5 mb-lg-0 ">

                        <div class="mb-5 ">
                            <h3 class="footer-heading mb-2 ">Subscribe Newsletter</h3>
                            <p>You can email us.</p>

                            <form action="{% url 'home' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3 ">
                                    <input type="text " class="form-control border-white text-white bg-transparent" placeholder="Enter Email " aria-label="Enter Email " aria-describedby="button-addon2 ">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button " id="button-addon2">Send</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="row ">
                            <div class="col-md-12 ">
                                <h3 class="footer-heading mb-4 ">Follow Us</h3>

                                <div>
                                    <a href="https://www.facebook.com/Kiranmaharjanofficial" class="pl-0 pr-3 "><span class="icon-facebook "></span></a>
                                    <a href="https://twitter.com/KiranMa41397456" class="pl-3 pr-3 "><span class="icon-twitter "></span></a>
                                    <a href="https://www.instagram.com/kiranmhrjn/" class="pl-3 pr-3 "><span class="icon-instagram "></span></a>
                                    <a href="https://www.youtube.com/channel/UCHBRsBNe0ci-7e71Aw9ncJQ?view_as=subscriber" class="pl-3 pr-3 ">
                                        <spann class="icon-youtube "></spann>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="row pt-5 mt-5 text-center ">
                    <div class="col-md-12 ">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script data-cfasync="false " src="{% static 'website/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %} "></script>
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This website is made with <i class="icon-heart-o " aria-hidden="true "></i> by <a href="https:www.kiranmaharjan2.com.np " target="_blank ">Kiran Maharjan</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <script src="{% static 'website/js/jquery-3.3.1.min.js' %} "></script>
    <script src="{% static 'website/js/jquery-migrate-3.0.1.min.js' %} "></script>
    <script src="{% static 'website/js/jquery-ui.js' %} "></script>
    <script src="{% static 'website/js/popper.min.js' %} "></script>
    <script src="{% static 'website/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'website/js/owl.carousel.min.js' %} "></script>
    <script src="{% static 'website/js/jquery.stellar.min.js' %} "></script>
    <script src="{% static 'website/js/jquery.countdown.min.js' %} "></script>
    <script src="{% static 'website/js/jquery.magnific-popup.min.js' %} "></script>
    <script src="{% static 'website/js/bootstrap-datepicker.min.js' %} "></script>
    <script src="{% static 'website/js/aos.js' %} "></script>

    <script src="{% static 'website/js/main.js' %} "></script>

</body>

</html>