{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>News &mdash; Dr Kiran $ Dr Sapana</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'website/https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900' %}"> 
    <link rel="stylesheet" href="{% static 'website/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap-datepicker.css' %}">
    
    
    <link rel="stylesheet" href="{% static 'website/fonts/flaticon/font/flaticon.css' %}">
  
    <link rel="stylesheet" href="{% static 'website/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <div class="site-navbar-wrap">
      <div class="site-navbar-top">
        <div class="container py-2">
          <div class="row align-items-center">
            <div class="col-6">
              <a href="https://twitter.com/KiranMa41397456" class="p-2 pl-0"><span class="icon-twitter"></span></a>
              <a href="https://www.facebook.com/Kiranmaharjanofficial" class="p-2 pl-0"><span class="icon-facebook"></span></a>
              <a href="https://www.youtube.com/channel/UCHBRsBNe0ci-7e71Aw9ncJQ?view_as=subscriber" class="p-2 pl-0"><span class="icon-youtube"></span></a>
              <a href="https://www.instagram.com/kiranmhrjn/" class="p-2 pl-0"><span class="icon-instagram"></span></a>
            </div>
            <div class="col-6">
              <div class="d-flex ml-auto">
                <a href="#" class="{% static 'website/d-flex align-items-center ml-auto mr-4' %}">
                  <span class="icon-envelope mr-1"></span>
                  <span class="d-none d-md-inline-block">kiranmaharjan1989@gmail.com</span>
                </a> - 
                <a href="#" class="{% static 'website/d-flex align-items-center' %}">
                  <span class="icon-phone mr-1"></span>
                  <span class="d-none d-md-inline-block">+977 980 235 874 72</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="site-navbar">
        <div class="container py-1">
          <div class="row align-items-center">
            <div class="col-2">
              <h2 class="mb-0 site-logo"><a href="news">Our news</a></h2>
            </div>
            <div class="col-10">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="{% static 'website/site-menu-toggle js-menu-toggle text-white' %}"><span class="icon-menu h3"></span></a></div>

                  <ul class="site-menu js-clone-nav d-none d-lg-block">
                    <li>
                      <a href="/">Home</a>
                      
                    </li>
                    <li><a href="about">About Us</a></li>
                    <li>
                      <a href="patients">Patients</a>
                      
                    </li>
                    <li class="active"><a href="news">News</a></li>
                    <li><a href="services">Services</a></li>
                    <li><a href="contact">Contact</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-blocks-cover inner-page" style="background-image: url({% static 'website/images/bg 4.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7">
            <span class="sub-text">Read Our News</span>
            <h1>Our <strong>News</strong></h1>
          </div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="{% static 'website/images/img 1.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Dental implantology is evolving at a rapid pace</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By Shrimkhala Khatiwada &bullet; July 1, 2021</small></span>
                <p class="mb-0">Dental implantology is evolving at a rapid pace. Treatments are increasingly becoming safer and gentler and the implantology workflow more efficient and verifiable. And Implantmed is part of this progress. Andreas Brandstätter, Strategic Product Manager for Oral Surgery and Implantology, knows exactly how the W&H innovation has changed implantology during the past 20 years. We spoke to him about W&H’s USPs and the secret to its success:</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="{% static 'website/images/img 2.jfif' %}" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Brandstätter: Implantmed</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By Shrimkhala Khatiwada &bullet; July 1, 2021</small></span>
                <p class="mb-0">Brandstätter: Implantmed is one of W&H’s most popular products. Today, there are Implantmed fans right across the world. As an essential part of our NIWOP workflow (No Implantology without Periodontology), it demonstrates its strength in individual workflow solutions.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="{% static 'website/images/img_3.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Surgical Orthodontic Bracket Removing Pliers</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By tooth flaticon-tooth-pliers &bullet; July 1, 2021</small></span>
                <p class="mb-0">Surgical Orthodontic Bracket Removing Pliers Stainless Steel Dental Braces Removal Tools Bracket Gripper Plier.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="{% static 'website/images/img 3.jfif' %}" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Brandstätter: Because it is reliable</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By Paul Shah &bullet; July 1, 2021</small></span>
                <p class="mb-0">Brandstätter: Because it is reliable, durable and easy to use; this enables the user to fully concentrate on treating the patient. But we really would need to ask our customers who work with Implantmed every day. And this is something we do regularly. We had a great response from Dr Romana Krapf, for example, who runs a group practice with her father in Weißenhorn, Germany. She explained to us that her father was already working with Implantmed 20 years ago and that she is still using the same device today, as it fits perfectly into her workflow. This alone says a great deal.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="{% static 'website/images/img 4.jfif' %}" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Brandstätter: That’s easy</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By Pramod Kharel &bullet; July 1, 2021</small></span>
                <p class="mb-0">Brandstätter: That’s easy – our focus on the customer and the commitment of each and every employee. Another secret to our success is the perfect interplay of man and machine; expertise and technology go hand in hand here and this is reflected in Implantmed. My personal highlight is the short and powerful motor including thermo washer disinfectable and sterilizable cable. This was a key milestone for the industry with which we can offer extra comfort and safety for the user and the patient alike.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="{% static 'website/images/img 5.jfif' %}" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Brandstätter: Twenty years ago</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By Karma Shakya &bullet; July 1, 2021</small></span>
                <p class="mb-0">Brandstätter: Twenty years ago, our team of developers was tasked with designing an easy to operate drive unit with a high-torque motor for dental implantology and maxillary surgery; the result was Implantmed. And it still fulfils these criteria today. Implantmed is constantly being updated with innovations such as an LED supply on the motor, a function for measuring implant stability, wireless foot control, precise torque monitoring, and many other functions. A glass display with touch screen also enables better disinfection and therefore optimal hygiene. </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="{% static 'website/images/img 6.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Brandstätter: We offer a reliable</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By Shrimkhala Khatiwada &bullet; July 1, 2021</small></span>
                <p class="mb-0">Brandstätter: We offer a reliable, robust and durable drive unit, which is easy to operate. At the same time, we provide a flexible workflow solution with optional extra product features that are ideally suited to the user’s individual working style. The wireless foot control, Osstell ISQ for measuring implant stability, the complete USB documentation and connection to the ioDent®system are just a few examples of this.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="{% static 'website/images/img 7.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Brandstätter: For me, it’s quite clear:</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By Shrimkhala Khatiwada &bullet; July 1, 2021</small></span>
                <p class="mb-0">Brandstätter: For me, it’s quite clear: Implantmed is your go-to partner for oral surgery and implantology. The popular product brand is now synonymous with dental implantology and is commonly used as a term for implantology motors in dental practices. Andreas Brandstätter is particularly proud of the short and powerful motor including thermo washer disinfectable and sterilizable cable. We make sure that Implantmed is always at the forefront of current trends by adding appropriate customer-oriented features.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry bg-white">
              <div class="image">
                <img src="{% static 'website/images/img 8.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="text p-4">
                <h2 class="h5 text-black"><a href="#">Dental implantology is evolving at a rapid pace.</a></h2>
                <span class="text-uppercase date d-block mb-3"><small>By Dayahang Rai &bullet; July 1, 2021</small></span>
                <p class="mb-0">Dental implantology is evolving at a rapid pace. Treatments are increasingly becoming safer and gentler and the implantology workflow more efficient and verifiable. And Implantmed is part of this progress. Andreas Brandstätter, Strategic Product Manager for Oral Surgery and Implantology, knows exactly how the W&H innovation has changed implantology during the past 20 years. We spoke to him about W&H’s USPs and the secret to its success:</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="row mb-5">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Navigation</h3>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Team</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Membership</a></li>
                </ul>
              </div>
            </div>

            
          </div>
          <div class="col-lg-4">
           

            <div class="mb-5">
              <h3 class="footer-heading mb-4">Recent News</h3>
              <div class="block-25">
                <ul class="list-unstyled">
                  <li class="mb-3">
                    <a href="#" class="d-flex">
                      <figure class="image mr-4">
                        <img src="{% static 'website/images/bg.3.jpg' %}" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <span class="small text-uppercase date">July 1, 2021</span>
                        <h3 class="heading font-weight-light">Latest research on periodontal diseases.</h3>
                      </div>
                    </a>
                  </li>
                  <li class="mb-3">
                    <a href="#" class="d-flex">
                      <figure class="image mr-4">
                        <img src="{% static 'website/images/bg.1.jpg' %}" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <span class="small text-uppercase date">July 1, 2021</span>
                        <h3 class="heading font-weight-light">Information on a broad range of dental health topics,</h3>
                      </div>
                    </a>
                  </li>
                  <li class="mb-3">
                    <a href="#" class="d-flex">
                      <figure class="image mr-4">
                        <img src="{% static 'website/images/img.4.jpg' %}" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <span class="small text-uppercase date">July 1, 2021</span>
                        <h3 class="heading font-weight-light">including dental implants, cosmetic dentistry, and general dental ...</h3>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            
          </div>
          

          <div class="col-lg-4 mb-5 mb-lg-0">

            <div class="mb-5">
              <h3 class="footer-heading mb-2">Subscribe Newsletter</h3>
              <p>You can email us.</p>

              <form action="#" method="post">
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-white text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
                  </div>
                </div>
              </form>

            </div>

            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Follow Us</h3>

                <div>
                  <a href="https://www.facebook.com/Kiranmaharjanofficial" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  <a href="https://twitter.com/KiranMa41397456" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  <a href="https://www.instagram.com/kiranmhrjn/" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  <a href="https://www.youtube.com/channel/UCHBRsBNe0ci-7e71Aw9ncJQ?view_as=subscriber" class="pl-3 pr-3"><span class="icon-youtube"></span></a>
                </div>
              </div>
            </div>


          </div>
          
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script data-cfasync="false" src="{% static 'website//cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://kiranmaharjan2.com.np" target="_blank" >Kiran Maharjan</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'website/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'website/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'website/js/jquery-ui.js' %}"></script>
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'website/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'website/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'website/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'website/js/aos.js' %}"></script>

  <script src="{% static 'website/js/main.js' %}"></script>
    
  </body>
</html>